
@{
    ViewBag.Title = "Search";
}

<h2>Search Viewings by ID</h2>

<div class="col-md-10">
    <input type="text" id="ViewingID" size="5" />
    <input type="submit" name="SearchButton" id="SearchButton" value="Search" />
</div>
<br />
<div id="divProcessing">
    <p>Processing, please wait . . . <img src="../../Content/ajax-loader.gif" height="50"></p>
</div>
<br />
<div id="divResult"></div>
@Html.ActionLink("Back to List", "Index")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $(document).ready(function () {
            $("#divProcessing").hide();
            $('#SearchButton').click(function () {
                search();
            });
        });

        function search() {
            $("#divResult").empty();
            $("#divProcessing").show();
            var viewingID = $("#ViewingID").val();
            var url = "../api/Viewings/" + viewingID;
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                success: function (resp) {
                    if (resp.ViewingID == null) {
                        $("#divResult").append("This Viewing was not Found, Please enter a valid Viewing ID")
                    }
                    // Hide the "busy" gif:
                    $("#divProcessing").hide();
                    $("<h3>Results</h3>").appendTo("#divResult");
                    $("#divResult").append("<p>ViewingID: "+resp.ViewingID+"<br/>Date: " + resp.Date + "<br/>Comments: " + resp.Comments + "<br/>Price_Offered: " + resp.Price_Offered + "<br/>ProprtyForRentID: " + resp.PropertyForRentID + "<br/>RenterID: " + resp.RenterID + "<br/>StaffID: " + resp.StaffID + "<br/>");
                    $("#divResult").append("</p>");
                }
            })
        }

    </script>
}


